{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="newdetail.css">
    <title>Student Internship Details </title>
</head>
<body>
    <div class="container">
        <form action="#">
            <div class="form first">
                <div class="details student">
                    <span class="title"><b>Student Details</b></span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Full Name</label>
                            <input type="text" placeholder="Enter your name" required>
                        </div>

                        <div class="input-field">
                            <label>Roll Number</label>
                            <input type="text" placeholder="Enter your roll number" required>
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input type="email" placeholder="Enter your email" required>
                        </div>

                        <div class="input-field">
                            <label>Mobile Number</label>
                            <input type="tel" placeholder="Enter your mobile number" required>
                        </div>

                        <div class="input-field">
                            <label>Year</label>
                            <input type="text" placeholder="Enter your year" required>
                        </div>

                        <div class="input-field">
                            <label>Branch</label>
                            <input type="text" placeholder="Enter your branch" required>
                        </div>
                    </div>
                </div>
                <div class="internships">
                    <div class="details internship rightbar">
                        <div>
                            <span class="title"><b>InternshipDetails</b></span>

                            <div class="fields">
                                <div class="input-field">
                                    <label>Company Name</label>
                                    <input type="text" placeholder="Enter company name" required>
                                </div>

                                <div class="input-field">
                                    <label>Project Name</label>
                                    <input type="text" placeholder="Enter project name" required>
                                </div>

                                <div class="input-field">
                                    <label>Domain</label>
                                    <input type="text" placeholder="Enter domain" required>
                                </div>

                                <div class="input-field">
                                    <label>Role</label>
                                    <input type="text" placeholder="Enter your role" required>
                                </div>

                                <div class="input-field">
                                    <label>Start Date</label>
                                    <input type="date" placeholder="Enter start date" required>
                                </div>

                                <div class="input-field">
                                    <label>End Date</label>
                                    <input type="date" placeholder="Enter end date" required>

                                </div>
                            </div>
                        </div>

                        <img src="{% static 'mitslogo.jpg' %}" alt="Certificate">
                    </div>
                   <div class="details internship rightbar">
                        <div>
                            <span class="title"><b>InternshipDetails</b></span>

                            <div class="fields">
                                <div class="input-field">
                                    <label>Company Name</label>
                                    <input type="text" placeholder="Enter company name" required>
                                </div>

                                <div class="input-field">
                                    <label>Project Name</label>
                                    <input type="text" placeholder="Enter project name" required>
                                </div>

                                <div class="input-field">
                                    <label>Domain</label>
                                    <input type="text" placeholder="Enter domain" required>
                                </div>

                                <div class="input-field">
                                    <label>Role</label>
                                    <input type="text" placeholder="Enter your role" required>
                                </div>

                                <div class="input-field">
                                    <label>Start Date</label>
                                    <input type="date" placeholder="Enter start date" required>
                                </div>

                                <div class="input-field">
                                    <label>End Date</label>
                                    <input type="date" placeholder="Enter end date" required>
                                </div>
                            </div>
                        </div>

                        <img src="{% static 'mitslogo.jpg' %}" alt="Certificate">
                    </div>
                    <div class="button">
                        <button class="add-internship-button">+AddInternship</button>
                    </div>

                </div>
            </div>
        </form>
    </div>

    <script src="newdetail.js"></script>
</body>
</html>
