{% extends "master.html" %} {% load static %} {% block title %} Departments
{%endblock %} {% block style %}
<style>
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		background-color: #f8f9fa;
	}
	.container {
		text-align: center;
	}
	h1 {
		font-size: 3rem;
		margin-bottom: 20px;
		color: rgb(70, 19, 4);
	}
	.icon {
		font-size: 5rem;
		color: #dc3545;
	}
	main {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		width: 90%;
		background-color: rgba(245, 245, 220, 0.5);
		padding: 20px;
		border-radius: 20px;
	}
	a {
		text-decoration: none;
		background-color: white;
		font-size: 30px;
		padding: 10px;
		border-radius: 20px;
		border: 2px solid rgb(70, 19, 4);
		color: rgb(70, 19, 4);
		background-color: rgba(245, 245, 220, 0.7);
		transition: all 100ms ease-in-out;
	}
	a:hover {
		border: 2px solid rgb(245, 245, 220);
		color: rgb(245, 245, 220);
		background-color: rgb(70, 19, 4);
		box-shadow: 0 0 3px 5px rgba(245, 245, 220, 0.7);
	}
</style>
{% endblock %} {% block content %}
<main>
	<h1>Sorry, you don't have access to this page.</h1>
	<div><a href="{% url 'login' %}">Go Back</a></div>
</main>
{% endblock %}
